{% extends 'base/index.html'%}
{% block content %}

{% if user.is_superuser %}
<!-- slider_area_start-->
    
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3> <span>Cuidado de la salud</span> <br>
                                    para ti y tu familia. </h3>
                                <p>Tenemos un control centralizado de los procesos relacionados a tu salud</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3> <span>Cuidado de la salud</span> <br>
                                    para ti y tu familia. </h3>
                                 <p>Tenemos un control centralizado de los procesos relacionados a tu salud</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3> <span>Cuidado de la salud</span> <br>
                                    para ti y tu familia. </h3>
                                 <p>Tenemos un control centralizado de los procesos relacionados a tu salud</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% else %}

<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		
		<div class="col-md-4 text-center">
			<form method="POST">
			{% csrf_token %}
			<br>
			<hr>
			<h3>Elija de que tipo de usuario Iniciara sesion</h3>
			<hr>
			{% if medico %}
			<h2>Como Medico</h2>
			<button class="btn btn-primary" type="submit" name="btnMedico">Click Aqui</button>
			{% endif %}
			<hr>
			{% if paciente %}
			<h2>Como Paciente</h2>
			<button class="btn btn-warning" name="btnPaciente" >Click Aqui</button>
			{% endif %}
			<hr>
			{% if resepcionista %}
			<h2>Como Resepcionista</h2>
			<button class="btn btn-default" name="btnResepcionista">Click Aqui</button>
			{% endif %}	
			</form>
		</div>
		
		<div class="col-md4-"></div>
	</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endif %}
{% endblock %}
{% block footer %}
{% endblock %}