{% extends 'base/index.html'%}
{% block title %}
{% if sistema %}
Modificar Sistema de Medición
{% else %}
Registrar Sistema de Medición
{% endif %}
{% endblock %}
 
{% block content %}
{% if sistema %}
<br><br><br><br><br><br>
<h1 class="text-center">Modificar Sistema de Medición</h1>
<br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <hr>
        <br>
        <form method="POST" onsubmit="return validar(this)">
            {% csrf_token %}
            <div align="center" class="form-group">   
                <div class="col-md-7">
                    <h5>Nombre:</h5>
                    <input type="text" name="nombre" value="{{sistema.nombre_sistema}}" placeholder="Ingrese el nombre del Sistema de Medición" class="form-control">
                </div>
            </div>
            <br>
            <div class="form-group text-center">
                <button class="btn btn-success">Modificar</button>
            </div>
            <hr>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<br><br><br><br><br><br><br><br>

<script type="text/javascript">
    
    function validar(form){

        var name = form.nombre;

        if (name.value == "") {
            alert("Debes digitar el nombre del Sistema de Medición");
            name.focus();
            name.select();
            return false;
        }

    }

</script>

{% else %}
<br><br><br><br><br><br>
<h1 class="text-center">Registrar Sistema de Medición</h1>
<br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <hr>
        <br>
        <form method="POST" onsubmit="return validar(this)">
            {% csrf_token %}
            <div align="center" class="form-group">
                <div class="col-md-7">
                    <h5>Nombre:</h5>
                    <input type="text" name="nombre" placeholder="Ingrese el nombre del Sistema de Medición" class="form-control">
                </div>
            </div>
            <br>
            <div class="form-group text-center">
                <button class="btn btn-success">Registrar</button>
            </div>
            <hr>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<br><br><br><br><br><br><br><br>

<script type="text/javascript">
    
    function validar(form){

        var name = form.nombre;

        if (name.value == "") {
            alert("Debes digitar el nombre del Sistema de Medición");
            name.focus();
            name.select();
            return false;
        }

    }

</script>

{% endif %}
{% endblock %}