{% extends 'base/index.html'%}
{% load static from staticfiles %}
{% block title %}Registrar Entrada{% endblock %}
{% block extracss %}
<style type="text/css">
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
{% endblock %}

{% block content %}
<br><br><br>
<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 text-center" id="paciente_id">
			
			<h3>Coloque la Tarjeta sobre el dispositivo.....</h3>
			<br>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
          <div class="loader text-center"></div>          
				</div>
				<div class="col-md-4"></div>
      </div>			
		</div>
		<div class="col-md-3"></div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" id="button3">
      <button  id="button2" class="btn btn-success text-center">Precione aqui cuando este listo </button>
    </div>
    <div class="col-md-3"></div>
  </div>
	
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
{% block footer %}
{% endblock %}
{% block extrajs %}
<script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
<script type="text/javascript">
$(document).ready(function() {
    
    function LeerCodigo() {
      console.log("Esta precionando");
        $.ajax({
            url: '{% url "hospital:captura" %}',
            success: function(data){
                $("#paciente_id").html(data);
                $("#button3").html("");
            }
        });
    }
    $("#button2").on('click',LeerCodigo);
});
</script>
{% endblock %}
