{% extends 'base/index.html' %}
{% block title %}RECEPCIONISTA{% endblock %}
{% block content %}
<!--REEDITADO Por Diego Ochoa-->

<div class=" jumbotron container">
<hr>
<h3 class="text-center">Lista de Recepcionistas</h3>
<hr>
	<div class="col" align="right">
		<a href="{% url 'hospital:resepcionistaCreate' %}" class="btn btn-info"><span class="fa fa-plus"></span> Registrar</a>
	</div>
	<br>
	<table id="miTabla" class="table table-bordered" style="width:100%">
		<thead class="bg-info">
			<tr>
				<th>Codigo</th>
				<th>Nombre</th>
				<th>Acciones</th>
			</tr>			
		</thead>
		<tbody>
			{% for recepcionista in recepcionistas %}
			<tr>
				<td>{{ recepcionista.cod_resepcionista }}</td>
				<td>{{ recepcionista.cod_persona.usuario.first_name }} {{ recepcionista.cod_persona.usuario.last_name }} </td>
				<td>
					<a href="{% url 'hospital:resepcionistaEdit' recepcionista.pk %}" class="btn btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>					
					<a class="btn btn btn-danger" data-toggle="modal" data-target="#Eliminar_{{ recepcionista.cod_resepcionista }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
					<form method="POST">
				                {% csrf_token %}
				                <input type="hidden" name="recepcionista" value="{{ recepcionista.cod_resepcionista }}"> 
				                
				                <!-- Modal -->
				                <div class="modal fade" id="Eliminar_{{ recepcionista.cod_resepcionista }}" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				                  <div class="modal-dialog" role="document">
				                    <div class="modal-content">
				                      <div class="modal-header">
				                        <h5 class="modal-title" id="exampleModalLabel">Ventana de Confirmación</h5>
				                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                          <span aria-hidden="true">&times;</span>
				                        </button>
				                      </div>
				                      <div class="modal-body">
				                        ¿Esta seguro de eliminar al Recepcionista<b>{{ recepcionista.cod_resepcionista }}?</b>
				                      </div>
				                      <div class="modal-footer">
				                        <input class="btn btn-danger" type="submit" name="accion" value="Eliminar">
				                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				                      </div>
				                    </div>
				                  </div>
				                </div>
				             </form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th>Codigo</th>
				<th>Nombre</th>
				<th>Acciones</th>
			</tr>
		</tfoot>
	</table>
</div>
<br><br><br><br><br>
<!--Fin-->
{% endblock %}