{% extends 'base/index.html'%}
{% block title %}
{% if especialidad %}
Modificar Especialidad
{% else %}
Registrar Especialidad
{% endif %}
{% endblock %}
 
{% block content %}
{% if especialidad %}
<br><br><br><br><br><br>
<h1 class="text-center">Modificar Especialidad</h1>
<br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <hr>
        <br>
        <form method="POST" onsubmit="return validar(this)">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Código:</h5>
                        <input type="text" name="codigo" value="{{especialidad.cod_especialidad}}" readonly="readonly" placeholder="Ingrese el código de la Especialidad" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <h5>Nombre:</h5>
                        <input type="text" name="nombre" value="{{especialidad.nombre_especialidad}}" placeholder="Ingrese el nombre de la especialidad" class="form-control">
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group text-center">
                <button class="btn btn-success">Modificar</button>
            </div>
            <hr>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<br><br><br><br><br><br><br><br>

<script type="text/javascript">
    
    function validar(form){
        
        var code = form.codigo;

        if (code.value == "") {
            alert("Debes digitar el código de la Especialidad");
            code.focus();
            code.select();
            return false;
        }

        var name = form.nombre;

        if (name.value == "") {
            alert("Debes digitar el nombre de la Especialidad");
            name.focus();
            name.select();
            return false;
        }

    }

</script>

{% else %}
<br><br><br><br><br><br>
<h1 class="text-center">Registrar Especialidad</h1>
<br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <hr>
        <br>
        <form method="POST" onsubmit="return validar(this)">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Código:</h5>
                        <input type="text" name="codigo" placeholder="Ingrese el código de la especialidad" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <h5>Nombre:</h5>
                        <input type="text" name="nombre" placeholder="Ingrese el nombre de la especialidad" class="form-control">
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group text-center">
                <button class="btn btn-success">Registrar</button>
            </div>
            <hr>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<br><br><br><br><br><br><br><br>

<script type="text/javascript">
    
    function validar(form){
        
        var code = form.codigo;

        if (code.value == "") {
            alert("Debes digitar el código de la Especialidad");
            code.focus();
            code.select();
            return false;
        }

        var name = form.nombre;

        if (name.value == "") {
            alert("Debes digitar el nombre de la Especialidad");
            name.focus();
            name.select();
            return false;
        }
        
    }

</script>
{% endif %}
{% endblock %}